@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
    --background: hsl(292 100% 95%);
    --foreground: hsl(292 5% 0%);
    --card: hsl(292 50% 90%);
    --card-foreground: hsl(292 5% 10%);
    --popover: hsl(292 100% 95%);
    --popover-foreground: hsl(292 100% 0%);
    --primary: hsl(292 88% 58%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(292 30% 70%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(254 30% 85%);
    --muted-foreground: hsl(292 5% 35%);
    --accent: hsl(254 30% 80%);
    --accent-foreground: hsl(292 5% 10%);
    --destructive: hsl(0 100% 30%);
    --destructive-foreground: hsl(292 5% 90%);
    --border: hsl(292 30% 50%);
    --input: hsl(292 30% 18%);
    --ring: hsl(292 88% 58%);
    --radius: 0.5rem;
}
.dark {
    --background: hsl(292 50% 5%);
    --foreground: hsl(292 5% 90%);
    --card: hsl(292 50% 0%);
    --card-foreground: hsl(292 5% 90%);
    --popover: hsl(292 50% 5%);
    --popover-foreground: hsl(292 5% 90%);
    --primary: hsl(292 88% 58%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(292 30% 10%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(254 30% 15%);
    --muted-foreground: hsl(292 5% 60%);
    --accent: hsl(254 30% 15%);
    --accent-foreground: hsl(292 5% 90%);
    --destructive: hsl(0 100% 30%);
    --destructive-foreground: hsl(292 5% 90%);
    --border: hsl(292 30% 18%);
    --input: hsl(292 30% 18%);
    --ring: hsl(292 88% 58%);
    --radius: 0.5rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
